/* general */

html {
	scroll-behavior: smooth;
}

body {
	background-color: #131313;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 15px;
	letter-spacing: 2px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 37px;
	text-align: center;
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-bottom: 8px solid #ffcc00;
	display: inline-block;
}

h2 {
	border-bottom: 8px solid #292929;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	padding: 3px 0px 0px 0px;
	margin: 10px auto;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
}

header {
	text-align:center;
	background-color: none;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
}

main {
	background-color: none;
	width: calc(50% - 20px);
	margin: 0 auto;
	text-align: center;

}

/* inputs */

input,
button {
	background-color: white;
	color: #12172f;
	padding: 8px 12px;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #0c0f1f;
	font-size: 16px;
	text-transform: uppercase;
}

button {
	background-color: #ffcc00;
}

input[id="numberOfCards"] {
	width: 120px;
}

.score, 
.moves, 
.won {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	letter-spacing: 2px;
	margin: 0;
}

#score,
#moves,
#won {
	font-weight: 700;
	color: #ffcc00;
}

.radiocontainer {
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	user-select: none;
	padding-left: 30px;
	padding-bottom: 10px;
}

.radiocontainer input {
	display:none;
}

.radiocontainer .circle {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #292929;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;

}

.radiocontainer .highlight {
	background-color: #ffcc00;
	content: "";
	height: 18px;
	width: 18px;
	left: 1px;
	top: 1px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	position: absolute;
	transform: scale(0, 0);

	transition: all 0.2s;
}

.radiocontainer:hover .highlight {
	transform: scale(1, 1);
	
}

.radiocontainer input:checked + .circle {
	background-color: #ffcc00;
}

@keyframes bloop {
	0% {
		background-color: #292929;
		transform: scale(0, 0);

	}

	100% {
		background-color: #ffcc00;
		transform: scale(1, 1);


	}

}

/* animation */

@keyframes matched {
  0% 100% {
  	width: 100%;
    height: 100%;
  }
  20%, 70% {
  	width: 90%;
	height: 90%;
  }
  50% {
  	width: 110%;
    height: 110%;
  }

}


@keyframes bounce {
  0% 100% {
  	transform-origin: center;
  	transform: scale(1);
  }
  20%, 70% {
  	transform-origin: center;
  	transform: scale(1.1);
  }
  50% {
  	transform-origin: center;
  	transform: scale(0.9);
  }

}

@keyframes shake {
  0% 100% {
    transform: rotateZ(00deg);
  }
  2% {
	transform: rotateZ(6deg);
  }
  75% {
	transform: rotateZ(-6deg);
  }


}

.match {
	animation-name: matched;
  	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
}

.bounce {
	animation-name: bounce;
  	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
}

.shake {
	animation-name: shake;
  	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
}

.cardHolder {
	width: 20%;
	height: 0px;
	padding-top: 20%;
	position: relative;
}

.cardHolder2  {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 5px;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}

.rotate {
	transform: rotateY(180deg);
}


.card {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	backface-visibility: hidden;

}

.front {

}

.back {
	transform: rotateY(180deg);
}

#cardBoard {
	background-color: white;
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 15px;
	justify-content: center;
}

.winnertxt {
	color: #131313;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
}

.winner {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

/* instructions */

#instClick {
	border: none;
	margin-left: 30px;
	cursor: pointer;
}

.inst {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

/* responsive */

@media screen and (max-width: 1000px) {
	body {
		/*background-color: #292929;*/
	}

	main {
		width: 60%;
	}

	.card {
		border-radius: 12px;
	}

	.cardHolder {
		width: 25%;
		padding-top: 25%;
	}

}

@media screen and (max-width: 700px) {
	body {
		/*background-color: #424242;*/
	}

	main {
		width: 70%;
	}

	.card {
		border-radius: 9px;
	}

	.cardHolder {
		width: 33%;
		padding-top: 33%;
	}

}

@media screen and (max-width: 500px) {
	body {
		/*background-color: #5a5a5a;*/
	}

	main {
		width: 100%;
	}

	.card {
		border-radius: 5px;
	}

}
