/* colour palette */
* {
	font-family: Helvetica, arial, sans-serif;
	font-weight: bold;
	letter-spacing: 0.5px;
	/*box-sizing: border-box;*/

}

  /* background-color: var(--main-bg-color); */

/* general */
html {
	scroll-behavior: smooth;
}

/* default colour theme */
html {
	--main-highlight: #ececec;
	--main-light: #454545;
	--main-med: #757575;
	--main-dark: #fff;
	--main-bg: #111;
	--main-txt: #ececec;
	--cardboard-bg: #222;
}

html.yellow {
	--main-highlight: #f1d100;
	--main-light: #c0a604;
	--main-med: #3f3300;
	--main-dark: #1a1913;
	--main-bg: #fad901;
	--main-txt: #1a1913;
	--cardboard-bg: #c0a604;
}

html.blue {
	--main-highlight: #ffffff;
	--main-light: #f4faff;
	--main-med: #41779d;
	--main-dark: #24323c;
	--main-bg: #adddff;
	--main-txt: #24323c;
	--cardboard-bg: #41779d;
}

.palette {
	position: absolute;
	top: 0;
	left: 0;
}

.palette div {
	border-radius: 50%;
	height: 15px;
	width: 15px;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
}

div .black {
	background-color: black;
}

div .yellow {
	background-color: #fad901;
}

div .blue {
	background-color: #adddff;
}

body {
	background-color: var(--main-bg);
	color: var(--main-txt);
	font-size: 15px;
	letter-spacing: 2px;
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 70%;
	text-align: right;
}

h1 {
	font-weight: 500;
	font-size: 37px;
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: block;
}

h2 {
	font-weight: 500;
	font-size: 24px;
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	color: var(--main-light);
}

.h2 {
	font-weight: 500;
	font-size: 24px;
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
	margin-bottom: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	color: var(--main-light);
}

header {
	background-color: none;
	padding: 10px;
	margin-bottom: 20px;
}

main {
	background-color: none;
	width: 100%;
}

/* inputs */
input,
button {
	background-color: var(--main-light);
	color: var(--main-dark);
	padding: 8px 12px;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
}

#reset {
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
	color: var(--main-med);
	cursor: pointer;
}

input::placeholder {
	color: var(--main-med);
}

button {
	background-color: var(--main-light);
}

input[id="numberOfCards"] {
	width: 2em;
	margin: 10px auto;
}

.newGame {
	background-color: none;
	width: auto;
	height: auto;
	display: inline-block;
	padding: 10px;
}

.gameStats {
	font-size: 17px;
	letter-spacing: 2px;
	margin: 0;
}

.statsLabel {
	font-size: 12px;
	letter-spacing: 2px;
	margin: 0;
	display: block;
	color: var(--main-light);
}

#score,
#moves,
#won,
#timer,
#stars {
	font-weight: 700;
	color: var(--main-dark);
	display: block;
	font-size: 25px;
}

#stars {
	font-size: 20px;
}

.radiocontainer {
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 17px;
	user-select: none;
	padding-left: 30px;
	padding-bottom: 10px;
}

.radiocontainer input {
	display:none;
}

.radiocontainer .circle {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: var(--main-light);
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
}

.radiocontainer .highlight {
	background-color: var(--main-med);
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	top: 3px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	position: absolute;
	transform: scale(0, 0);
	transition: all 0.2s;
}

.radiocontainer:hover .highlight,
.radiocontainer input:checked + .highlight {
	transform: scale(1, 1);
}

.radiocontainer input:checked + .circle {
	background-color: var(--main-dark);
}

/* animation */
@keyframes bloop {
	0% {
		background-color: var(--main-light);
		transform: scale(0, 0);
	}

	100% {
		background-color: var(--main-med);
		transform: scale(1, 1);
	}
}

@keyframes matched {
  0% 100% {
  	width: 100%;
    height: 100%;
  }

  20%, 70% {
  	width: 90%;
	height: 90%;
  }

  50% {
  	width: 110%;
    height: 110%;
  }
}

@keyframes bounce {
  0% 100% {
  	transform-origin: center;
  	transform: scale(1);
  }

  20%, 70% {
  	transform-origin: center;
  	transform: scale(1.1);
  }

  50% {
  	transform-origin: center;
  	transform: scale(0.9);
  }
}

@keyframes shake {
  0% 100% {
    transform: rotateZ(00deg);
  }

  2% {
	transform: rotateZ(6deg);
  }

  75% {
	transform: rotateZ(-6deg);
  }
}

.match {
	animation-name: matched;
  	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
}

.bounce {
	animation-name: bounce;
  	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
}

.shake {
	animation-name: shake;
  	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
}

.cardHolder {
	width: 20%;
	height: 0px;
	padding-top: 20%;
	position: relative;
}

.cardHolder2  {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 5px;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}

.rotate {
	transform: rotateY(180deg);
}

.card {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	backface-visibility: hidden;
}

.front {

}

.back {
	transform: rotateY(180deg);
}

#cardBoard {
	background-color: var(--cardboard-bg);
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 15px;
	justify-content: center;
	margin: 30px;
	width: calc(100% - 60px);
}

.winnertxt {
	color: var(--main-txt);
	text-transform: uppercase;
	font-size: 40px;
}

.winnersmall {
	color: var(--main-txt);
	text-transform: uppercase;
	font-size: 25px;
}

.winner {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

/* instructions */
#instClick {
	border: none;
	margin-left: 30px;
	cursor: pointer;
}

.inst {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

/* responsive */
@media screen and (max-width: 1000px) {
	.card {
		border-radius: 12px;
	}

	.cardHolder {
		width: 25%;
		padding-top: 25%;
	}
}

@media screen and (max-width: 700px) {

	.card {
		border-radius: 9px;
	}

	.cardHolder {
		width: 33%;
		padding-top: 33%;
	}
}

@media screen and (max-width: 600px) {

	.wrapper {
		grid-template-columns: 100%;
	}

	.card {
		border-radius: 5px;
	}
}
